

<div ng-cloak  layout="row">
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom >
            <md-tab label="首页" ui-sref="app"  flex flex-order="-1 "></md-tab>
            <md-tab label="产品" ui-sref="product.productList"  flex flex-order="1" ></md-tab>
            <md-tab label="我的订单" ui-sref="myorder.orderList" flex flex-order="2"></md-tab>
            <md-tab label="个人中心" ui-sref="profile.info" flex flex-order="3" ></md-tab>
        </md-tabs>
    </md-content>
</div>

<!--<div layout="row">-->
    <!--<div flex flex-order="-1">-->
        <!--<p>[flex-order="-1"]</p>-->
    <!--</div>-->
    <!--<div flex flex-order="1" flex-order-gt-md="3">-->
        <!--<p hide-gt-md>[flex-order="1"]</p>-->
        <!--<p hide show-gt-md>[flex-order-gt-md="3"]</p>-->
    <!--</div>-->
    <!--<div flex flex-order="2">-->
        <!--<p>[flex-order="2"]</p>-->
    <!--</div>-->
    <!--<div flex flex-order="3" flex-order-gt-md="1">-->
        <!--<p hide-gt-md>[flex-order="3"]</p>-->
        <!--<p hide show-gt-md>[flex-order-gt-md="1"]</p>-->
    <!--</div>-->
<!--</div>-->