<md-toolbar class="">
    <div class="md-toolbar-tools">
        <md-button
                class="md-icon-button"
                aria-label="Settings"
                ng-click="showToolbarMenu($event, ctrl.settings)">
            <ng-md-icon icon="menu"  style=" fill:#fff"  ></ng-md-icon>
        </md-button>
        <h2>Toolbar </h2>
        <span flex></span>
        <!--<md-button class="md-icon-button" aria-label="Favorite" >-->
            <ng-md-icon icon="{{clickIcon}}" ng-click="clickIconMorph()" style=" fill:#fff"   options='{"duration": 375, "rotation": "none"}'></ng-md-icon>
        <!--</md-button>-->
        <md-button
                class="md-icon-button"
                aria-label="More"
                ng-click="showToolbarMenu($event, ctrl.more)">
            <ng-md-icon icon="more_vert" style=" fill:white"    ></ng-md-icon>
        </md-button>
    </div>
</md-toolbar>


<div  class="manList">

    <!--搜索-->
    <!--<input  type="text"  ng-model="name">-->
    <md-autocomplete md-no-cache="true"
                     md-selected-item="selectedItem"
                     md-search-text="searchText" md-items="item in users"
                     placeholder="search"
                     md-item-text="item.name">
        <md-item-template>
            <span md-highlight-text="searchText">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
            No states matching "{{searchText}}" were found.
        </md-not-found>
    </md-autocomplete>



    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <div ng-repeat="item in users">
                <p >{{item.sort}}</p>
                <md-card ng-repeat="user in users.details" ng-click="showDetails({user:user})">
                    <img ng-src="views/man/img/washedout.png"  class="md-card-image">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{user.name}}个人简介 </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <img ng-src="{{user.photo}}">
                        <p>
                            {{user.content}}
                        </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-icon-button" aria-label="Favorite">
                            <ng-md-icon icon="favorite" style="fill: pink" ></ng-md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Settings">
                            <ng-md-icon icon="dehaze"  ></ng-md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Share">
                            <ng-md-icon icon="reply"></ng-md-icon>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>


        <md-fab-speed-dial style="position: fixed;" ng-hide="hidden" md-direction="left" md-open="isOpen"
                           class="md-scale md-fab-bottom-right" ng-class="{ 'md-hover-full': hover }"
                           ng-mouseenter="isOpen=true" ng-mouseleave="isOpen=false">
            <md-fab-trigger>
                <md-button aria-label="more_vert" class="md-fab md-warn">
                    <md-icon md-svg-src="views/man/img/more_vert.svg" aria-label="more_vert"></md-icon>
                </md-button>
            </md-fab-trigger>

            <md-fab-actions>
                <div ng-repeat="item in items">
                    <md-button aria-label="{{item.name}}" class="md-fab md-raised md-mini"
                               ng-click="demo.openDialog($event, item)">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                    md-autohide="false">
                            {{item.name}}
                        </md-tooltip>

                        <md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}"></md-icon>
                    </md-button>
                </div>
            </md-fab-actions>
        </md-fab-speed-dial>
    </md-content>
</div>