<md-toolbar class="">
    <div class="md-toolbar-tools">
        <!--<md-button-->
                <!--class="md-icon-button"-->
                <!--aria-label="Settings"-->
                <!--ng-click="showToolbarMenu($event, ctrl.settings)">-->
            <!--<ng-md-icon icon="menu"  style=" fill:#fff"  ></ng-md-icon>-->
        <!--</md-button>-->
        <!-- Left aligned menu below button -->
        <button id="demo-menu-lower-left"
                class="mdl-button mdl-js-button mdl-button--icon">
            <i class="material-icons">more_vert</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
            for="demo-menu-lower-left">
            <li class="mdl-menu__item">Some Action</li>
            <li class="mdl-menu__item mdl-menu__item--full-bleed-divider">Another Action</li>
            <li disabled class="mdl-menu__item">Disabled Action</li>
            <li class="mdl-menu__item">Yet Another Action</li>
        </ul>
        <h2>Toolbar </h2>
        <span flex></span>
        <!--<md-button class="md-icon-button" aria-label="Favorite" >-->
            <ng-md-icon icon="{{clickIcon}}" ng-click="clickIconMorph()" style=" fill:#fff"   options='{"duration": 375, "rotation": "none"}'></ng-md-icon>
        <!--</md-button>-->
        <md-button
                class="md-icon-button"
                aria-label="More"
                ng-click="showToolbarMenu($event, ctrl.more)">
            <ng-md-icon icon="more_vert" style=" fill:white"    ></ng-md-icon>
        </md-button>
    </div>
</md-toolbar>


<div  class="manList">

    <!--搜索-->
    <!--<input  type="text"  ng-model="name">-->
    <md-autocomplete md-no-cache="true"
                     md-selected-item="selectedItem"
                     md-search-text="searchText" md-items="item in users"
                     placeholder="search"
                     md-item-text="item.name">
        <md-item-template>
            <span md-highlight-text="searchText">{{item.name}}</span>
        </md-item-template>
        <md-not-found>
            No states matching "{{searchText}}" were found.
        </md-not-found>
    </md-autocomplete>



    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="50" layout="column">
            <div ng-repeat="item in users">
                <p >{{item.sort}}</p>
                <md-card ng-repeat="user in item.details" ng-click="showDetails({user:user})">
                    <img ng-src="views/man/img/washedout.png"  class="md-card-image">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">{{user.name}}个人简介 </span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <img ng-src="{{user.photo}}">
                        <p>
                            {{user.content}}
                        </p>
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                        <md-button class="md-icon-button" aria-label="Favorite">
                            <ng-md-icon icon="favorite" style="fill: pink" ></ng-md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Settings">
                            <ng-md-icon icon="dehaze"  ></ng-md-icon>
                        </md-button>
                        <md-button class="md-icon-button" aria-label="Share">
                            <ng-md-icon icon="reply"></ng-md-icon>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
    </md-content>
</div>