div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td, input, table, textarea { margin: 0; padding: 0;}
fieldset, img { border:none;}
a{text-decoration: none;}
ol, ul, li { list-style:none;}
span,i,em{display:inline-block;}
p,ul,h1,h2,h3,h4,h5,h6,ol,dl,dt,dd,pre,li,form,input,select,textarea{
    margin:0;padding:0;
    list-style:none;
}

ng-md-icon {
    -webkit-transition: fill 750ms ease-in-out;
    -moz-transition: fill 750ms ease-in-out;
    -o-transition: fill 750ms ease-in-out;
    transition: fill 750ms ease-in-out;
}
ng-md-icon > svg {
    -webkit-transition: width 750ms ease-in-out, height 750ms ease-in-out;
    -moz-transition: width 750ms ease-in-out, height 750ms ease-in-out;
    -o-transition: width 750ms ease-in-out, height 750ms ease-in-out;
    transition: width 750ms ease-in-out, height 750ms ease-in-out;
}